html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1200 - 300)));
  max-width: 1440px;
  width: 100%;
  min-width: 360px;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}

footer {
  max-width: 1440px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

input {
  border: none;
  outline: none;
  background: none;
}

input {
  background-image: url('');
}
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
